In [40]:
a = [[1,2],[3,4],[5,6]]
b = copy.deepcopy(a)
b

[[1, 2], [3, 4], [5, 6]]

In [41]:
a

[[1, 2], [3, 4], [5, 6]]

In [44]:
score = {"name": "tom", "math" : 80, "english":70}
score["name"]

'tom'

In [46]:
score["name"] = "MIke"
score["name"]

'MIke'

In [47]:
len(score)

3

In [56]:
print(score)

{'name': 'MIke', 'math': 80, 'english': 70}

In [57]:
"math" in score

True

In [58]:
score.setdefault("age",20)

20

In [59]:
print(score)

{'name': 'MIke', 'math': 80, 'english': 70, 'age': 20}

In [62]:
score.update({"age" : 37})

In [63]:
print (score)

{'name': 'MIke', 'math': 80, 'english': 70, 'age': 37}

In [64]:
score.pop("age")

37

In [65]:
print (score)

{'name': 'MIke', 'math': 80, 'english': 70}

In [66]:
score.keys()

dict_keys(['name', 'math', 'english'])

In [68]:
score.values()

dict_values(['MIke', 80, 70])

In [69]:
s = score.copy()

In [70]:
s

{'name': 'MIke', 'math': 80, 'english': 70}

In [71]:
s.update = ({name: Jay})

NameError: name 'name' is not defined

In [79]:
s.update({'name' : "Jay"})

In [80]:
s

{'name': 'Jay', 'math': 80, 'english': 70}

In [81]:
score

{'name': 'MIke', 'math': 80, 'english': 70}

In [82]:
animal = {"dog","cat","monkey","horse"}
type(score)

dict

In [83]:
animal = {"dog","cat","monkey","horse"}
type(animal)

set

In [84]:
a = set ("animal")

In [85]:
a

{'a', 'i', 'l', 'm', 'n'}

In [86]:
type(a)

set

In [87]:
b=set(range(5))
b

{0, 1, 2, 3, 4}

In [88]:
print (a,b)

{'m', 'n', 'i', 'a', 'l'} {0, 1, 2, 3, 4}

In [89]:
b=range(5)

In [90]:
b

range(0, 5)

In [91]:
b=set(range(5))

In [92]:
b

{0, 1, 2, 3, 4}

In [107]:
a = "people"
b = list(a)
c = set(a)
print (c)

{'o', 'p', 'e', 'l'}

In [108]:
a =set(range(4))
b = {3,4,13}

In [109]:
a&b

{3}

In [110]:
a|b

{0, 1, 2, 3, 4, 13}

In [111]:
set.union(a,b)

{0, 1, 2, 3, 4, 13}

In [112]:
a-b

{0, 1, 2}

In [113]:
a^b

{0, 1, 2, 4, 13}

In [114]:
a.add(100)

In [115]:
a

{0, 1, 2, 3, 100}

In [116]:
a >= {0,1,2}

True

In [117]:
a >= {0,1,2,1000}

False

In [118]:
a <= {1000}

False